* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Raleway, sans-serif;
  color: rgb(15, 15, 15);
}

body {
  background-color: rgb(224, 224, 224);
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  font-weight: 100;
  padding-left: 40px;
  background-color: black;
}

section {
  text-indent: 0;
  margin-left: -40px;
}

h1 {
  color: white;
  background-color: black;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 5px;
}

aside {
  padding-left: 20px;
  width: 10%;
  line-height: 25px;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 700;
}

main a:hover {
  background-color: black;
  color: white;
}

main img {
  border-radius: 100px;
  width: 200px;
  box-shadow: 7px 7px 7px grey;
}

main {
  padding-top: 160px;
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  text-indent: 45px;
}

footer {
  margin-top: 60px;
}

footer p {
  color: white;
  padding: 20px 0 25px 40px;
  font-size: 22px;
}

footer img {
  width: 40px;
  margin: 0 0 25px 40px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid white;
}

#introduction-article {
  width: 40%;
  line-height: 35px;
  text-align: justify;
  margin-right: 20px;
}

#lessons {
  width: 20%;
}

#bio-abstract {
  text-indent: 0;
}

#footnote {
  background-color: black;
}

ul , ol {
  margin: 20px;
  list-style: none;
}

table {
  background-color: black;
  text-align: center;
  margin-top: 60px;
}

th {
  background-color: rgb(197, 197, 197);
  width: 100px;
}

td {
  background-color: white;
}

.lado-direito p {
  font-weight: 700;
  font-size: 20px;
}
